In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/test-file/tested.csv

In [2]:
import pandas as pd 
import numpy as np
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')
pd.set_option('display.max_columns', 200)

In [3]:
#Load the dataset into your working environment
df = pd.read_csv('/kaggle/input/test-file/tested.csv')

### Data Understanding
* Dataframe shape
* head and tail
* dtypes
* describe

In [4]:
df.shape

(418, 12)

In [5]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,0,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,1,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,0,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,0,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S

In [6]:
df.tail(10)

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
408,1300,1,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,1,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,1,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
411,1303,1,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
412,1304,1,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [7]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [8]:
#Each column in a dataframe is a series and each series has a data type
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

### Basic exploration

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [10]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.481622,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,0.000000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,1.000000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200

### Data Preparation
* Dropping irrelevant columns
* Identifying duplicated columns
* Renaming columns
* Feature creations

In [11]:
df1 = df[['PassengerId', 'Survived', 
          'Pclass', 
          'Name', 'Sex',
          'Age', 
          'SibSp',
           'Parch', 
          #'Ticket', 'Fare', 
           'Cabin',
          'Embarked'
        ]].copy()

In [12]:
df1

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,NaN,S
...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,NaN,C

In [13]:
# Renaming columns
df1.rename(columns = {'Pclass':'Passenger_class',
                     'SibSp':'Sibling_spouse',
                     'Parch': 'Parent_child'}, 
                     inplace = True)

In [14]:
df1

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,PassengerId,Survived,Passenger_class,Name,Sex,Age,Sibling_spouse,Parent_child,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,NaN,S
...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,NaN,C

In [15]:
#Checking for missing columns
# df.isna() output is a dataframe with true or false
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [16]:
# Dropping the column Cabin since a large portion of the data is missing (too many nulls)
df1.drop(columns = ['Cabin'], inplace = True)

In [17]:
# Fill the age column with median
df1['Age'] = df1['Age'].fillna(df1['Age'].median())
# Fill column embarked with the mode
df1['Embarked'] = df1['Embarked'].fillna(df1['Embarked'].mode()[0])

In [18]:
#Checking for duplicates
df1.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
413    False
414    False
415    False
416    False
417    False
Length: 418, dtype: bool

In [19]:
# Perform loc to see what is diplicated
df1.loc[df1.duplicated()]

Empty DataFrame
Columns: [PassengerId, Survived, Passenger_class, Name, Sex, Age, Sibling_spouse, Parent_child, Embarked]
Index: []

In [20]:
#Check for duplicates at a subset level
df1.loc[df1.duplicated(subset = 'Name')]

Empty DataFrame
Columns: [PassengerId, Survived, Passenger_class, Name, Sex, Age, Sibling_spouse, Parent_child, Embarked]
Index: []

In [21]:
df1.shape

(418, 9)

# ETL 
Load the data into Duckdb

In [22]:
import duckdb
import pandas as pd

In [23]:
# Further exploration
#Basic counts
#Total passengers
total_passengers = duckdb.sql("SELECT COUNT(*) AS total_passengers FROM df1").df()
#Total no.of male passengers
male_passengers = duckdb.sql("""
SELECT COUNT(*) AS male_passengers 
FROM df1
WHERE Sex = 'male'
""").df()
#Total no.of female passengers
female_passengers = duckdb.sql("""
SELECT COUNT(*) AS female_passengers 
FROM df1
WHERE Sex = 'female'
""").df()
print(total_passengers)
print(male_passengers)
print(female_passengers)

   total_passengers
0               418
   male_passengers
0              266
   female_passengers
0                152

## Survival Analysis

In [24]:
#Survival rates
average_survival_rate = duckdb.sql("""
SELECT Sex, AVG(Survived)*100 AS survival_rate 
FROM df1
GROUP BY Sex
""").df()
print(average_survival_rate)

      Sex  survival_rate
0    male            0.0
1  female          100.0

In [25]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Create A Train and Test Set

In [26]:
from sklearn.model_selection import StratifiedShuffleSplit
# Initialize stratifiedshufflesplit
split = StratifiedShuffleSplit(n_splits = 1, test_size = 0.2, random_state = 42)
# Perform sampling based on the passenger class
# The split method returns indices for both the train and test set
for train_index, test_index in split.split(df, df["Pclass"]):
    # select the rows for the train_set
    strat_train_set = df.loc[train_index]
    
    #select rows for the test_set
    strat_test_set = df.loc[test_index]
strat_train_set.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
92,984,1,1,"Davidson, Mrs. Thornton (Orian Hays)",female,27.0,1,2,F.C. 12750,52.0000,B71,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
393,1285,0,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S
165,1057,1,3,"Kink-Heilmann, Mrs. Anton (Luise Heilmann)",female,26.0,1,1,315153,22.0250,NaN,S
325,1217,0,3,"Assam, Mr. Ali",male,23.0,0,0,SOTON/O.Q. 3101309,7.0500,NaN,S